<div class="top_menu">
	<ul>
		<li class="menuli"><a href="/">Home</a>
		<li class="menuli"><a href="/message/">Message</a>
		<li class="menuli"><a href="/search/">Search</a>
	</ul>
</div>
<div class="left">
<div class="left_person">
	<img src="/images/person_photo.jpg" width="64" height="64" alt="自分の写真"/><br />
	Name: <%= user.name %><br />
	Contact: <%= user.mailAddress %><br />
	School: <%= school.name %><br />
	Class / Grade: <%= user.responsible %><br />
</div>
<div class="left_message">
	<table border=1>
	<tr><th>Recant Message</th><th>New</th><tr>
	<% messages.forEach(function(message){ %>
	  <tr><td colspan="2"><a href="<%= "/message/show/" + message.id %>"></td></tr>
	<% }); %>
	</table>
</div>
<div class="left_etc">
	<ul>
		<li><a href="/album/">Album</a>
		<li><a href="/connection/">Connection</a>
		<li><a href="/recommendation/">Recommendations</a>
	</ul>
</div>
<div class="left_carender">
	no carender
</div>
</div>
<div class="right">
<div class="right_popular">
	<h2>Popular Project / Plans</h2><a href="/plans/">See more</a>
	<table border="1">
	  <% plans.forEach(function(plan){ %>
	    <tr><td><a href="<%= "/plan/show/" + plan.id %>""></td></tr>
	  <% }); %>
	</table>
</div>
<div class="right_recommendations">
	<h2>Recommendations</h2><a href="/recommendation/">See more</a>
	<table border="1">
	  <% plans.forEach(function(plan){ %>
	    <tr><td><a href="<%= "/plan/show/" + plan.id %>""></td></tr>
	  <% }); %>
	</table>
</div>
</div>
